@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --destructive-foreground: 0 0% 100%;
    --secondary-foreground: 240 10% 10%;
    --popover-foreground: 240 10% 10%;
    --primary-foreground: 0 0% 100%;
    --accent-foreground: 0 0% 100%;
    --muted-foreground: 240 24% 20%;
    --card-foreground: 240 10% 10%;
    --destructive: 0 84% 60%;
    --background: 0 0% 100%;
    --foreground: 240 10% 10%;
    --secondary: 240 24% 70%;
    --popover: 0 0% 100%;
    --primary: 240 24% 53%;
    --border: 240 24% 59%;
    --accent: 240 24% 60%;
    --muted: 240 24% 85%;
    --input: 240 24% 68%;
    --card: 0 0% 100%;
    --ring: 240 24% 53%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-body;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}

